html {
    position: relative;
    min-height: 100%;
}

html, body {
    background: #EEE;
}

a {
    color: #111;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #333;
}

.container {
    background: white;
}

.page-header {
    margin-top: 10px;
}

.header-image {
    max-width: 100%;
}

.title-important {
    color: #922892;
    border-top: 1px solid #DEDEDE;
    padding-top: 10px;
    margin-top: 10px;
}

.category-block, .product-block {
    text-align: center;
    font-weight: bold;
}

.category-block img, .product-block img {
    width: 100%;
    max-width: 100%;
}

.category-menu {
    padding-top: 10px;
}

.category-menu h5 {
    border-bottom: 1px #DEDEDE solid;
    padding-bottom: 10px;
}

.category-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
    padding-bottom: 20px;
}

.category-menu ul li {
    padding: 2px 0;
    font-size: 12px;
}

.product-block p {
    display: block;
    height: 64px;
}

strong {
    font-size: 125%;
    color: #922892;
}

.product-block-image, .product-block-action {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: solid 1px #DEDEDE;
}

.product-block-image img {
    max-width: 100%;
}

.product-details {
    margin: 10px;
    border: solid 1px #DEDEDE;
}

.product-details p {
    padding: 10px;
}

.product-block-action {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}

.product-block-action strong {
    margin: 20px 20px;
    display: block;
    font-size: 140%;
}

.button-container {
    background: #DEDEDE;
    padding: 10px;
    margin: 0 10px;
}

.button {
    display: block;
    font-weight: bold;
    font-size: 15px;
    background: #922892;
    color: white;
    text-align: center;
    padding: 8px 14px;
    margin: 10px;
}

.button:hover, .button:visited, .button:focus {
    color: white;
    text-decoration: none;
}

.button-shop {

}

.button-augment {
    background: #313131;
}

.download-augment {

}

.button-augment-bubble {
    font-weight: normal;
    background: #8B8B8B;
    display: block;
    position: absolute;
    z-index: 100;
    right: 25px;
    bottom: -90px;
    width: 215px;
    opacity: 0.95;
    text-align: left;
    padding: 15px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.4);
}

.button-augment-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #8B8B8B transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 136px;
}

@media (min-width: 768px) {
    .button-augment-bubble {
        top: 45px;
        left: -200px;
        width: 215px;
        right: auto;
        bottom: auto;
        text-align: left;
    }

    .button-augment-bubble:after {
        border-width: 10px 0 10px 15px;
        right: -15px;
        top: 20px;
        left: auto;
        border-color: transparent #8B8B8B;
    }
}
